@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: 'Open Sans';
}

.fc-toolbar-title {
    color: black;
}

.fc-header-title {
    color: black;
    
}

.fc .fc-col-header-cell-cushion{
    color: black;
}

