<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="Omega_Conn" connectionString="Server=Server=192.168.1.8;Database=Impulso;User ID = sa;Password = Smart12345;Trusted_Connection=False;MultipleActiveResultSets=true;TrustServerCertificate=True"/>
	</connectionStrings>
</configuration>
